.scrollCont{
       height: 60vh;


        .firstSection{
       height: 60vh;
       border: rgb(95, 91, 91) 2px solid;
       background-color: black;
       margin-top: 0;
       .containerFirstSection{
              width: 100%;
              margin-top: 0;
              display: flex;
              
              .left{
                     width: 45%;
                    
                     margin-top: 0;
                     height: 59vh;
                     display: flex;
                     align-items: center;
                     justify-content: center;
              }
              .right{
                     
                     width: 50%;
                    
                     height: 59vh;
                     display: flex;
                     background-image: url('../../img/firstSection-right.gif');

                     }


              }    
       }

       /* second section*/

       .secondSection{
              height: 60vh;
             
              border: rgb(95, 91, 91) 2px solid;
              .containerSecondSection{
                     width: 100%;
                     display: flex;
                     .leftt{
                            display: flex;
                            width: 50%;
                            height: 59vh;
                            background-image: url('../../img/secondSection.gif');

                     }
                     .rightt{
                            display: flex;
                            height: 59vh;
                            background-color: black;
                            width: 50%;
                            color: white;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                     }
              }

       }

}