.scrollCont{
       height: 120vh;
       .firstSection{
       height: 60vh;
       border: rgb(95, 91, 91) 2px solid;
       background-color: black;
       margin-top: 0;
       .containerFirstSection{
              width: 100%;
              margin-top: 0;
              display: flex;
              
              .left{
                     width: 50%;
                    
                     margin-top: 0;
                     height: 59vh;
                     display: flex;
                     align-items: center;
                     justify-content: center;
              }
              .right{
                     display: flex;
                     width: 50%;
                     background-color: red;
                     height: 59vh;
                     display: flex;
                     background-image: url('../../img/firstSection-right.gif');
//                      -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
  
//   background-size: cover;
              }


       }
       .secondSection{
              height: 60vh;
       border: rgb(95, 91, 91) 2px solid;
       background-color: black;
       margin-top: 0;
              .containerSecondSection{
                     width: 100%;
              margin-top: 0;
              display: flex;
                     .left{
                            width: 50%;
                    
                            margin-top: 0;
                            height: 59vh;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                     }
                     .right{
                            display: flex;
                     width: 50%;
                     background-color: red;
                     height: 59vh;
                     display: flex;
                     }
              }
       }
       
       }
}