.signInContainerPage{
       height: 100vh;
       background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../img/chinitass.jpg');
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       margin-bottom: 0;
       padding-bottom: 0;

  p{
                     font-family: Arial, Helvetica, sans-serif;
                     color: red;
                     font-size: 35px;
                     padding-top: 24px;
                     padding-left: 15px;
                    
              }
      
       

       .searchInSignInPage{
              height: 60vh;
              display: flex;
              justify-content: center;
              padding-top: 110px;

              .login-form-button{
                     background-color: red;
                     color: white;
                     border: red;
                     

              }
              a{
                     color: red;
                     font-family: Arial, Helvetica, sans-serif;

              }
              
       }
       .or{   padding: 1px;
              margin: 0;
              color: white;
              display: flex;
              font-size: 12px;
              display: inline;
       }

}